<%- layout("/layouts/boilerplate") %>

  <body class="bg-light">
        <div class="container mt-5">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fw-bold">All Listings</h1>
            <a href="/listings/new" class="btn btn-success">+ Create New Listing</a>
          </div>

          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <% for(let listing of allListings) { %>
              <div class="col">
                <div class="card h-100 shadow-sm border-0">
                  <a href="/listings/<%= listing._id %>">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                      style="height: 250px; object-fit: cover;">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title text-primary">
                      <%= listing.title %>
                    </h5>
                    <p class="card-text text-muted">₹<%= listing.price %> / night</p>
                    <a href="/listings/<%= listing._id %>" class="btn btn-outline-primary w-100">View Details</a>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
        </div>

  </body>